14-04 Soap Cliente/SClienteVentas/src/META-INF/wsdl/localhost_53291/wsProductos.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProductoResult" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Producto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getProductoSoapIn">
    <wsdl:part name="parameters" element="tns:getProducto" />
  </wsdl:message>
  <wsdl:message name="getProductoSoapOut">
    <wsdl:part name="parameters" element="tns:getProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsProductosSoap">
    <wsdl:operation name="getProducto">
      <wsdl:input message="tns:getProductoSoapIn" />
      <wsdl:output message="tns:getProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsProductosSoap" type="tns:wsProductosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProducto">
      <soap:operation soapAction="http://tempuri.org/getProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsProductosSoap12" type="tns:wsProductosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProducto">
      <soap12:operation soapAction="http://tempuri.org/getProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsProductos">
    <wsdl:port name="wsProductosSoap" binding="tns:wsProductosSoap">
      <soap:address location="http://localhost:53291/wsProductos.asmx" />
    </wsdl:port>
    <wsdl:port name="wsProductosSoap12" binding="tns:wsProductosSoap12">
      <soap12:address location="http://localhost:53291/wsProductos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>